<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>自傳履歷</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;font-size:20px;}
  h1 {color:black; font-size:60px;}
  h2 {color:blue; font-size:40px;}
  h3 {color:black; font-size:30px;}
 </style>


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="https://www1.pu.edu.tw/~s1100411/picture/wang/cow.jpg"width="90%"></img>
 </td>>

 <td>
  <h1>勇敢牛牛，不怕困難 </h1><br>
  </td>
<tr>
</table>
<table width="80%" border="1">
<tr>
 <td>
 <h3>自我介紹</h3>
  我是王怡蓁,是正就讀於靜宜大學資管系的大二生，目前扎實學習各式各樣的資訊技術為未來奠定基礎，接下來的兩年也會繼續往這個目標努力。
 </td>

 <td>
  <h3>未來規劃</h3>
   在未來的工作選擇上我會挑偏向跟ERP系統相關的工作,相較於著重軟硬體技術的程式開發，結合資訊技術與管理事務的工作內容更適合我。
 </td>

 <td>
 <h3>對自己的期許</h3>
  在剩下的兩年裡，我需要開始規劃未來的出路以及充實自身的能力，清楚自己要走的方向並設立目標完成，時常告訴自己「人生沒有標準答案，就大膽地走用自己的方式走出自己的路」來鼓勵自身。
 <td>

</tr>
</table>

</body>