<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>ERP系統工作相關介紹</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;font-size:20px}
  h1 {color:blue; font-size:50px;}
  h2 {color:black; font-size:30px;}
 </style>
 


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="https://www1.pu.edu.tw/~s1100411/picture/wang/senao.jpg"width="110%"></img>
 </td>>

 <td>
  <h1>神腦國際企業股份有限公司 </h1><br>
 </td>
</tr>
</table>
<table width="70%" border="1">
<tr>
 <td>
 <h2>關於公司</h2><br>
  名稱:神腦國際企業股份有限公司<br>
  上班地點:新北市新店區中正路531號(總公司)<br>
  工作內容:<br>
   1.BPM電子簽核系統流程開發、表單設計與系統維護。<br>
   2.BPM電子簽核系統與異質系統整合開發。<br>
   3.表單客製化程式設計及查詢報表開發。<br> 
   4.SQL Server資料庫維護。<br>
   5.系統維護優化及使用者問題排除。<br>
 Contact:<br>
  公司網站:<a href="https://www.senao.com.tw/">https://www.senao.com.tw/</a><br>
 </td>

 <td>
  <h2>職務介紹</h2><br>
   ERP專案管理師、<br>
   系統分析師<br>
 </td>

 <td>
 <h2>徵才條件</h2><br>
  工作經歷:2年以上工作經驗<br>
  學歷要求:大學以上<br>
  科系要求:資訊管理學類、資訊工程學類<br>
  電腦專長:JAVA、JavaScript、ORACLE ERP、鼎新ERP<br>
  其他條件:<br>
    1.具導入及開發維運鼎新BPM電子簽核系統經驗。<br>
    2.具程式語言開發實作經驗，熟悉JavaScript/Ajax程式語言及Debugging。<br>
    3.熟悉MSSQL資料庫管理及設計。<br>
    4.溝通能力佳，邏輯思緒清晰，並具獨立運作能力。<br>
    5.具網頁程式及RPA程式開發工作經驗佳。<br>
 </td>
</tr>
</table>

</body>